.gl-card {
    width: 30%;
    background-color: #00a8ff;  
    margin-top: 1em;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    color: #f5f6fa;
    font-family: 'Roboto';
    text-align: center;
}

.gl-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: space-between;
}

.gl-card img {
    width: 100%;
    height: 80%;
}

.gl-card-title {
    font-weight: 600;
    font-size: 20pt;
    color:#f5f6fa;
}

.gl-title-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.gl-card-description{
    color:#f5f6fa;
    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
}